
/* Highlighted Experiment Items */

#experiments {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--color-light);
    color: var(--color-dark);
    width: 100%;
    max-width: 1200px;
    gap: 20px;
    padding: 30px calc((100vw - 100%) / 2);
    justify-content: center;
    align-content: center;
}

.experiment {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    text-align: center;
    max-width: min(600px, 100vw);
    max-height: 400px;
    padding: 10px;
    border-radius: 30px;
    transition: all 0.2s ease 0s;

    h1, img {
        font-size: 24px;
        font-weight: 500;
        margin-block: 5px;
        object-fit: cover;
        aspect-ratio: 8 / 5;
        max-width: 100%;
    }
    
}

.experiment:hover {
    transform: translateY(-5px);
    border: 1px solid;
}